.nav1{
	height: 80px;
	background-color: #FF4A83;
	text-align: center;
	color: #fdfdfd;
	letter-spacing: 4px;
	font-size: 18px;
	overflow: hidden;
	position: relative;
}
.nav1>.img1{
	position: absolute;
	left: 15px;
	max-width: 12px;
	top: 40px;
}
.nav1>.img3{
	position: absolute;
	right: 55px;
	max-width: 24px;
	top: 40px;
}
.nav1>.img2{
	width: 28px;
	position: absolute;
	top: 40px;
	right: 15px; 
	max-width: 21px;
}
.banner-img{
	padding: 0 5%;
}
.banner-img>.img{
	width: 60%;
	padding:0 20%;
}
.xianr{
	margin:0 5%;
}
.xianr>h3{
	margin: 0;
	font-size: 16px;
}
.xianr>.l1{
	overflow: hidden;
}
.xianr>.l1>li{
	line-height: 38px;
	height: 38px;
	float: left;
	width: 50%;
	overflow: hidden;
}
.xianr>.l1>.left div{
	float: left;
}
.xianr>.l1>.right div{
	float: right;
}
.xianr>.l1>.right .img{
	width: 30%;
	max-width: 20px;
	min-width: 10px;
	padding-right: 5%;
	transform: translateY(50%);
}
.xianr>.l2{
	overflow: hidden;
}
.xianr>.l2>li{
	float: left;
	width: 25%;
	overflow: hidden;
	line-height: 36px;
}
.xianr>.l2>li div{
	float: left;
}
.xianr>.l2>li .img{
	padding-right: 5%;
	width: 35%;
	max-width: 18px;
	min-width: 10px;
	transform: translateY(50%);
}
.xianr>.l2>li .wenzi{
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.xianr>.l2>.right .img{
	padding: 0;
	width: 35%;
	max-width: 10px;
	float: right;
	transform: translateY(50%);
}
.xianr>.l2>.right{
	height: 36px;
	line-height: 36px;
	float: right;
}
.xuanze>ul{
	padding: 0 5%;
	overflow: hidden;
    border-top: 5px solid#e9e9e9;
}
.xuanze>ul>li{
	line-height: 36px;
	height: 36px;
	float: left;
	overflow: hidden;
}
.xuanze>ul>.left{
	width: 70%;
}
.xuanze>ul>.right{
	width: 30%;
}
.xuanze>ul>.left div{
	float: left;
}
.xuanze>ul>.left div:nth-child(1){
	padding-right: 10px;
}
.xuanze>ul>.right .img{
	float: right;
	width:35%;
    max-width: 10px;
    transform: translateY(50%);
}
.xuanze>.l4{
	border-top: 1px solid#e9e9e9;
}
.pingjia{
	background-color: #e9e9e9;
}
.pingjia>div{
	padding: 0 40%;
	line-height: 29px;
	overflow: hidden;
}
.pingjia>div>div{
	float: left;
}
.pingjia>div>.img{
	width: 40%;
	max-width: 18px;
	min-width: 8px;
	transform: translateY(50%);
}
.pingjia>div>.wenzi{
	width: 60%;
	text-align: center;
}
.xia-lianjie>ul{
	overflow: hidden;
}
.xia-lianjie>ul>li{
	width: 50%;
	float: left;
	overflow: hidden;
	height: 40px
}
.xia-lianjie>ul li>.l{
	float: left;
	width: 31.33%;
	padding: 0 2%;
	border-right: 1px solid#e9e9e9;
	box-sizing: border-box;
	text-align:center;
}
.xia-lianjie>ul>li .l .img{
	margin:0 auto;
	max-width: 20px;
}
.xia-lianjie>ul>li .l .img1{
	max-width: 18px;
	margin:0 auto;
}
.xia-lianjie>ul>li .l p{
	font-size: 12px;
}
.xia-lianjie>ul>li .info{
	float: left;
	width: 45%;
	margin-right: 5%;
	margin-top: 7px;
}
.info>.d1>a img{
	height: 21px;
}