body{
	margin: 0 auto;
	padding: 0;

}
.background{
	background-color: #E9E9E9;
	position: fixed;
	width: 100%;
	height: 100%;
}
ul,li,p,input{
	margin: 0;
	padding: 0;
	list-style: none;
}

img,a,a:hover,input{
	outline: none;
}

a,a:hover{
	text-decoration: none;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

i,span{
	display: inline-block;
}

.fl{
	float: left;
}

.fr{
	float: right;
}
.nav{
	height: 80px;
	background-color: #FF4A83;
	text-align: center;
	color: #fdfdfd;
	letter-spacing: 4px;
	position: relative;
	font-size: 18px;
	overflow: hidden;
}
.nav>div{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}
.nav>.img{
	max-width: 10px;
	left: 15px;
	top: 40px;
}
.nav>.text{
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 188px;
}
.nav>.text a{
	color: #fff;
}
.input > .input1 a > span:nth-child(1) {
    position: absolute;
    left: -20px;
    max-width: 16px;
    top: 5px;
}
.nav1{
	height: 80px;
	background-color: #FF4A83;
	text-align: center;
	color: #fdfdfd;
	letter-spacing: 4px;
	font-size: 18px;
	overflow: hidden;
	position: relative;
}
.nav1>.img1{
	position: absolute;
	left: 15px;
	max-width: 22px;
	top: 39px;
}
.nav1>.img2{
	position: absolute;
	top: 39px;
	right: 15px; 
	max-width: 22px;
}
.nav1>.input{
	position: relative;
	top: 36px;
	margin: 0 80px;
	border:1px solid#fff;
}
.nav1>.input>.input1 a{
	line-height: 24px;
	width: 100%;
	color: #fff;
	position: relative;
}
.search{
	background-color: #fff;
	position: fixed;
	border-top: 1px solid#A0A0A0;
	padding-top: 5px;
	bottom: 0;
	width: 100%;
}

.search-sousuo>div{
	height: 32px;
	text-align: center;
	float: left;
	width: 25%;
}

.search-sousuo{
	overflow: hidden;
	min-width: 320px;
}

.search-img>a>div{
	font-size: 12px;
	max-width: 16px;
	margin:0 auto;
}
.search-img>a>.img{
	max-width: 14px;
}
.search-img>a{
	font-size: 12px;
	color: #000;
}
.search p.active{
	color: #FF4A83;
}
/*滑动*/
.wrapperInput{position:absolute;top:30px;}
/**/
.wave-enter-setup, .wave-leave-setup {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
 -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
 -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
 transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
 line-height:100%;
}
.wave-enter-setup {
 position:relative;
 left:100%;
 line-height:100%;
}

.wave-enter-start {
 left:0;
line-height:100%;
}
.wave-leave-setup {
 position:absolute;
 left:0;
line-height: 100%;
}
.wave-leave-start {
 left:-100%;
 line-height: 10%;
}
