
.shezhi{
	overflow: hidden;
	margin-top: 10px;
	background-color: #fff;
}
.shezhi>ul{
	overflow: hidden;
	border-bottom: 1px solid#c2c2c2;
}
.shezhi>ul>li{
	line-height: 34px;
	float: left;
	width: 45%;
	margin: 0 5%;
}
.shezhi>ul>li a{
	color: #fff;
}
.shezhi>ul>.img{
	float: right;
	max-width: 10px;
	transform: translateY(50%);
}
.tuichu{
	padding-top: 10%;
}
.tuichu>.tuichuzh{
	width: 80%;
	margin:0 10%;
	line-height: 30px;
	text-align: center;
	background-color: #FF4A83;
}
.tuichu>.tuichuzh>a{
	color: #fff;
}