.input{
	overflow: hidden;
}
.input div{
	float: left;
}
.to-obtain{
	overflow: hidden;
	width: 35%;
}
.to-obtain>a{
	float: right;
	line-height: 24px;
	border-left: 1px solid #e4393c;
	padding-left: 5%;
	color: #000;
}
.input1{
	width: 60%;
}
.input1>input[type="text"]{
	width: 100%;
	border: none;
	height: 24px;
	color: #666;
	letter-spacing: 1px;
}
.input1>input[type="text"]::-webkit-input-placeholder{
	color: #aaa;
	font-size: 14px;
}