
<div id="search" class="search">
		<div class="search-sousuo">
			<div class="search-img">
				<a id="homeA" ng-click="jump('my.home')">
					<div><img src="{{imgUrl[0]}}"></div>
					<p class="{{font[0]}}">首页</p>
				</a>
			</div>
			<div class="search-img">
				<a id="fenleiA" ng-click="jump('my.fenlei')">
					<div><img src="{{imgUrl[1]}}"></div>
					<p class="{{font[1]}}">产品</p>
				</a>
			</div>
			<div class="search-img">
				<a id="shoppingA" ng-click="jump('my.shopping')">
					<div><img src="{{imgUrl[2]}}"></div>
					<p class="{{font[2]}}">购物车</p>
				</a>
			</div>
			<div class="search-img">
				<a id="meA" ng-click="jump('my.me')">
					<div class="img"><img src="{{imgUrl[3]}}"></div>
					<p class="{{font[3]}}">我的</p>
				</a>
			</div>
		</div>
	</div>