

	<div class="bound">
		<div class="nav">
			<div class="img"  onClick="javascript:history.back(-1);">
				<img src="./image/left.png" />
			</div>
			<div class="text"><a >帐号绑定</a></div>
		</div>

		<div class="Account-binding">
		     <div class="Account-binding-1">
				<div class="fl">
					<div class="img"><img src="./image/shouji.png " /></div>
					<div class="wenzi">手机认证</div>
					</div>				
				<div class="fl">
				     <div class="wenzi1">188****8888</div>
				     <div class="img1">
					 <img src="./image/right.png" />
				    </div>
				  </div>
				 </div>

				  <div class="Account-binding-1">
				<div class="fl">
					<div class="img"><img src="./image/weixin.png " /></div>
					<div class="wenzi">微信</div>
					</div>				
				<div class="fl">
				     <div class="wenzi1">未绑定</div>
				     <div class="img1">
					 <img src="./image/right.png" />
				    </div>
				  </div>
				 </div>

				  <div class="Account-binding-1">
				<div class="fl">
					<div class="img"><img src="./image/weibo1.png " /></div>
					<div class="wenzi">微博</div>
					</div>				
				<div class="fl">
				     <div class="wenzi1">未绑定</div>
				     <div class="img1">
					 <img src="./image/right.png" />
				    </div>
				  </div>
				 </div>

				  <div class="Account-binding-1">
				<div class="fl">
					<div class="img"><img src="./image/qq1.png " /></div>
					<div class="wenzi">	QQ帐号</div>
					</div>				
				<div class="fl">
				     <div class="wenzi1">未绑定</div>
				     <div class="img1">
					 <img src="./image/right.png" />
				    </div>
				  </div>
				 </div>

			</div>
		</di>

	</div>	

