<link rel="stylesheet" type="text/css" href="./css/reset.css">
<link rel="stylesheet" type="text/css" href="./css/order.css">
<link rel="stylesheet" type="text/css" href="./css/collect.css">
 <div>
		<div class="nav">
			<div class="img" onClick="javascript:history.back(-1);">
				<img src="./image/left.png" />
			</div>
			<div class="text">我的收藏</div>
		</div>

	    <div class="orders">
			<ul>
			 <li><a href="">宝贝</a></li>
			 <li><a href="">店铺</a></li>
			</ul>
		 </div>

		  <div class="media">
		    
			<div class="media-bottom">
				<div class="left">
					<div class="img">
				 	<img src="./image/mianmo1.png" />
					</div>
				</div>
				<div class="right">
					
					<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩 </h3>
					<ul>
						<li>￥50.00</li>
						<li class="img" onClick="javascript:history.back(-1);"><img src="./image/hongseche.png"></li>
					</ul>

				</div>

			   </div>
			</div>
		   <div class="media">
		    
			<div class="media-bottom">
				<div class="left">
					<div class="img">
				 	<img src="./image/mianmo1.png" />
					</div>
				</div>
				<div class="right">
					
					<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩 </h3>
					<ul>
						<li>￥50.00</li>
						<li class="img" onClick="javascript:history.back(-1);"><img src="./image/hongseche.png"></li>
					</ul>

				</div>

			   </div>
			</div>

		    <div class="media">
		    
			<div class="media-bottom">
				<div class="left">
					<div class="img">
				 	<img src="./image/mianmo1.png" />
					</div>
				</div>
				<div class="right">
					
					<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩 </h3>
					<ul>
						<li>￥50.00</li>
						<li class="img" onClick="javascript:history.back(-1);"><img src="./image/hongseche.png"></li>
					</ul>

				</div>

			   </div>
			</div>
		  </div>


	   </div>
</div>