<link rel="stylesheet" type="text/css" href="./css/reset.css" />
<link rel="stylesheet" type="text/css" href="./css/home.css" />
<div ng-swipe-left="jump('my.fenlei')" ng-swipe-right="jump('my.me')" >
            <div class="nav1">
				<div class="img1" ng-click="jump('my.search')">
					<img src="./image/Scan.png" />
				</div>
				<div class="input">
				  <div class="input1">
				    <div>
                     <a ng-click="jump('my.search')"><span><img src="./image/search.png " /></span><span>搜索产品</span></a>
                     </div>
				  </div>				
				</div>
				 <div class="img2" ng-click="jump('mc')">
					<img src="image/Message.png" />
				 </div>
			</div>
			<div class="banner">
				<img src="./image/banner.png" />
			</div>		
		 <div class="changpin">
				<div class="top">
					<ul>
					  <li></li>
					  <li></li>
					  <li></li>
					  <li></li>
					  <li></li>
					</ul>
				</div>
				<div class="bottom">
					<ul>
					 <li>
						<div><img src="./image/1.png" /></div>
						<div class="line"><img src="./image/xifashui.png" /></div>
					 </li>
					 <li>
						<div><img src="./image/1.png" /></div>
						<div class="line"><img src="./image/xifashui.png" /></div>
					 </li>
					 <li>
						<div><img src="./image/1.png" /></div>
						<div><img src="./image/xifashui.png" /></div>
					 </li>
					</ul>
				</div>
              </div>
          </div>


           <div class="remai-changping">
	             <div class="top">
	                <div class="box">
							<div class="img">
							  <img src="./image/best.png" />
							</div>
							<div>
							 热卖产品
			                </div>
		             </div>
	               </div>
	           	 <div class="bottom">
						<ul>
						 <li>						
							<div class="img1"><img src="./image/tupian.png" /></div>
							<div class="img"><img src="./image/jiage.png" /></div>
						 </li>
						 <li>						
							<div class="img1"><img src="./image/tupian.png" /></div>
							<div class="img"><img src="./image/jiage.png" /></div>
						 </li>
						 <li>						
							<div class="img1"><img src="./image/tupian.png" /></div>
							<div class="img"><img src="./image/jiage.png" /></div>
						 </li>
						</ul>
				 </div>
		    </div>

		  <div class="banner2 class="img1"">
				<div class="img">
					<img src="./image/banner2.png" />
				</div>
		  </div>

         <div class="content">
			<div class="content-left">
				<div class="img">
					<img src="./image/mianmo.png" />
				</div>
			</div>
			<div class="content-right">
					<div><h3>彻夜滋养</h3></div>
					<div ><h3>光采膨润</h3></div>
					<div><span>光彩立现睡眠面膜套装135g*2</span></div>
					<div class="right">
					   <div class="wenzi">￥ 50.00</div>
					   <div class="img" ng-click="jump('purchase')"><img src="./image/goumai.png" /></div>		   
					</div>				
			</div>

		  </div>

		  <hr class="hr">

		  <div class="content1">
				
				<div class="content-left1">
					<div><h3>彻夜滋养</h3></div>
					<div ><h3>光采膨润</h3></div>
					<div>光彩立现睡眠面膜套装135g*2</div>
					<div class="right">
					   <div class="wenzi">￥ 50.00</div>
					   <div class="img" ng-click="jump('purchase')"><img src="./image/goumai.png" /></div>		   
					</div>				
			</div>

			<div class="content-right1">
				<div class="img">
					<img src="./image/mianmo.png" />
				</div>
			</div>
			
		  </div>
		  <hr class="hr">

	 	  <!-- <my-directive></my-directive> -->
      
 </div>