<link rel="stylesheet" type="text/css" href="./css/reset.css" />
<link rel="stylesheet" type="text/css" href="./css/liebiao.css" />
 <div ng-swipe-left="jump('purchase')">
      
      <div class="container">
			 <div class="nav1">
				<div class="img1" onClick="javascript:history.back(-1);">
					<img src="./image/left.png" />
				</div>
				<div class="input">
				  <div class="input1">
				    <div>
                     <a onClick="javascript:history.back(-1);"><span><img src="./image/search.png " /></span><span>搜索产品</span></a>
                     </div>
				  </div>				
				</div>
				 <div class="img2" ng-click="jump('my.shopping')">
					<img src="image/Shopping2.png" />
				 </di>
			</div>

	  </div>

	  <div class="lianjie">
	       <div class="lianjie-k">
	       <ul>
				<li><a href="">全部</a></li>
				<li><a href="">销量</a></li>
				<li><a href="">新品</a></li>
				<li><a href="">人气</a></li>
			</ul>

			</div>

			<div class="changping">
				<ul>
					<li>
						<div class="img"><img src="./image/baos.png"></div>
						<div>相宜本草睡莲保湿精油化妆品套装</div>
						<div class="xia">
							<div>￥298.00</div>
							<div class="img2" ng-click="jump('shopping')"><img src="image/Shopping.png"></div>
						</div>
					</li>
					<li>
  						<div class="img"><img src="./image/baos.png"></div>
						<div>相宜本草睡莲保湿精油化妆品套装</div>
						<div class="xia">
							<div>￥298.00</div>
							<div class="img2"  ng-click="jump('shopping')"><img src="image/Shopping.png"></div>
						</div>
					</li>
				</ul>
				<ul>
					<li>
						<div class="img"><img src="./image/baos.png"></div>
						<div>相宜本草睡莲保湿精油化妆品套装</div>
						<div class="xia">
							<div>￥298.00</div>
							<div class="img2"  ng-click="jump('shopping')"><img src="image/Shopping.png"></div>
						</div>
					</li>
					<li>
  						<div class="img"><img src="./image/baos.png"></div>
						<div>相宜本草睡莲保湿精油化妆品套装</div>
						<div class="xia">
							<div>￥298.00</div>
							<div class="img2"  ng-click="jump('shopping')"><img src="image/Shopping.png"></div>
						</div>
					</li>
				</ul>
			</div>
			
	  </div>

	 	<div ng-include="'./view/bottom.html'"></div>

 </div>
