<link rel="stylesheet" href="./css/reset.css" />
<link rel="stylesheet" href="./css/lijigm.css" />

  <div class="content" ng-swipe-left="jump('querendd')">
			<div class="banner-nav">
				<div class="banner">
					<img src="./image/mianmo.png" />
					
				</div>

				<div class="background"></div>

			</div>
		    
			<div class="xuanze-box">
			    <div class="xuanze">
	  				<div class="left">
	  				   <img src="./image/mianmo.png" />
	  				</div>
	  				<div class="right">
						<ul>
							<li>
								<div>￥50.00</div>
								<div class="img"><img src="./image/x1.png"></div>
							</li>
							<li>请选择  颜色</li>
						</ul>
	  				</div>
			    </div>
			</div>
		    <div class="yanse">

             <p>颜色</p>

             <span>绿茶135G</span>
             <span class="span">绿茶135G</span>

             </div>

              <div class="yanse">

             <p>颜色</p>
              
              <ul>
					<li>-</li>
					<li class="l">1</li>
					<li>+</li>
              </ul>

             </div>

             <div class="queren"><a  ng-click="jump('querendd')">确认</a></div>

 </div>

