<link rel="stylesheet" href="./css/reset.css" />
<link rel="stylesheet" href="./css/mc.css" />
      
       <div class="content">
			<div class="nav">
				<div class="img" onClick="javascript:history.back(-1);">
					<img src="./image/left.png" />
				</div>
				<div class="text">消息中心</div>
			</div>

			<div class="xiaoxi">
			   <div class="top">
					<div class="left">
						<div class="img">
							<img src="./image/che.png" />
						</div>
					</div>
					<div class="right">
						<ul>
							<li>
								<div>物流信息</div>
								<div class="wenzi">17/06/27</div>
							</li>
							<li>订单已签收！你购买的相宜本草光彩立现</li>
						</ul>
					</div>
			   </div>

			    </div>
               <div class="xiaoxi xiaoxi1">  
			    <div class="top">
					<div class="left">
						<div class="img">
							<img src="./image/sheng.png" />
						</div>
					</div>
					<div class="right">
						<ul>
							<li>
								<div>通知</div>
								<div class="wenzi">12:15</div>
							</li>
							<li>限时特供好货！爱爱爱瑶儿-fish现场直播</li>
						</ul>
					</div>
			   </div>
		   </div>
       </div>
