<link rel="stylesheet" type="text/css" href="./css/reset.css">
<link rel="stylesheet" type="text/css" href="./css/order.css">

 <div>
		<div class="nav">
			<div class="img"  onClick="javascript:history.back(-1);">
				<img src="./image/left.png" />
			</div>
			<div class="text"><a >我的订单</a></div>
		</div>

		 <div class="orders">
			<ul>
			 <li><a href="">全部订单</a></li>
			 <li><a href="">其它订单</a></li>
			</ul>
		 </div>

		  <div class="media">
		    <div class="media-top">
				<ul>
					<li class="img"><img src="./image/xiaodai.png" /></li>
					<li>相宜本草官方旗舰店 </li>
					<li>代付款</li>
				</ul>
		    </div>
			<div class="media-bottom">
				<div class="left">
					<div class="img">
				 	<img src="./image/mianmo1.png" />
					</div>
				</div>
				<div class="right">
					
					<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩 </h3>
					<ul>
						<li>实付款：￥50.00</li>
						<li class="r"><a  ng-click="jump('my.shopping')">去付款</a></li>
					</ul>

				</div>

			   </div>
			</div>
		  </div>

		   <div class="media">
		    <div class="media-top">
				<ul>
					<li class="img"><img src="./image/xiaodai.png" /></li>
					<li>相宜本草官方旗舰店 </li>
					<li>代付款</li>
				</ul>
		    </div>
			<div class="media-bottom">
				<div class="left">
					<div class="img">
				 	<img src="./image/mianmo1.png" />
					</div>
				</div>
				<div class="right">
					
					<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩 </h3>
					<ul>
						<li>实付款：￥50.00</li>

						<li class="r"><a  ng-click="jump('my.shopping')">去付款</a></li>
					</ul>

				</div>

			   </div>
			</div>
		  </div>

		    <div class="media">
		    <div class="media-top">
				<ul>
					<li class="img"><img src="./image/xiaodai.png" /></li>
					<li>相宜本草官方旗舰店</li>
					<li>代付款</li>
				</ul>
		    </div>
			<div class="media-bottom">
				<div class="left">
					<div class="img">div
				 	<img src="./image/mianmo1.png" />
					</div>
				</div>
				<div class="right">
					
					<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩 </h3>
					<ul>
						<li>实付款：￥50.00</li>

						<li class="r"><a  ng-click="jump('my.shopping')">去付款</a></li>
					</ul>

				</div>

			   </div>
			</div>
		  </div>


	   </div>
 </div>