<link rel="stylesheet" type="text/css" href="./css/reset.css" />
<link rel="stylesheet" type="text/css" href="./css/purchase.css" />

 <div ng-swipe-left="jump('lijigm')">
		<div class="nav1">
				<div class="img1"  ng-click="jump('my.liebiao')">
					<img src="./image/left.png" />
				</div>
				<div class="img3"  ng-click="jump('my.shopping')">
					<img src="./image/gouwuche.png" />
				</div>
				 <div class="img2"  ng-click="jump('mc')">
					<img src="image/Message.png" />
				 </div>
			</div>

		<div class="banner">
		  <div class="banner-img">
		    <div class="img"><img src="./image/mianmo1.png" /></div>
			
		  </div>

		</div>
		<hr>

		<div class="xianr">
			
		  <h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩</h3>
		  <span>￥50.00</span>
		  <span><del>￥65.00</del></span>
		  
		  <ul class="l1">
			<li class="left">
				<div>免邮费</div>
			</li>
			<li class="right">
			    <div>分享有奖</div>
				<div class="img">
					<img src="./image/liwu.png" />
				</div>
				
			</li>
		  </ul>

		  <ul class="l2">
				<li>
					<div class="img">
						<img src="./image/gou.png" />
					</div>
					<div class="wenzi">假一赔三</div>
				</li>
				
				<li>
					<div class="img">
						<img src="./image/gou.png" />
					</div>
					<div class="wenzi">72小时发货</div>
				</li>

				<li>
					<div class="img">
						<img src="./image/gou.png" />
					</div>
					<div class="wenzi">7天无理由退货</div>
				</li>
				

				<li class="right">
					<div class="img" />
						<img src="./image/right1.png" />
					</div>
				</li>
		  </ul>

		</div>

		<div class="xuanze">
			 <ul class="l3">
				<li class="left">
					<div>选择</div>
					<div>颜色分类</div>
				</li>
				<li class="right">
					<div class="img"  ng-click="jump('lijigm')">
						<img src="./image/right1.png" />
					</div>
				</li>
			 </ul>
			 <ul class="l4">
				<li class="left">
					<div>商品参数</div>
				</li>
				<li class="right">
					<div class="img">
						<img src="./image/right1.png" />
					</div>
				</li>
			 </ul>
             <div class="pingjia">
                    <div>
					<div class="img">
						<img src="./image/pingjia.png" />
					</div>
					<div class="wenzi">评价</div>

					</div>
             </div>

             <ul class="l5">
				<li class="left">
					<div>买家评论(0)</div>
					<div>销量(1)</div>
				</li>
				<li class="right">
					<div class="img">
						<img src="./image/right1.png" />
					</div>
				</li>
			 </ul>

		</div>

		   <div class="xia-lianjie">
					<ul>
						<li class="line">
							<div class="l">
								<div class="img"><img src="./image/siliao.png"></div>
								<p>私聊</p>
							</div>
							<div class="l">
								<div class="img1"><img src="./image/xiaodai.png"></div>
								<p>小店</p>
							</div>
							<div class="l">
								<div class="img"><img src="./image/shoucang.png"></div>
								<p>收藏</p>
							</div>
						</li>
						<li>

							<div class="info">
							   <div class="d1">
							   <a  ng-click="jump('my.shopping')"><img src="./image/jiaru.png" /></a>
							    
							   </div>
							</div>
							<div class="info">
							   <div class="d1">
							    <a  ng-click="jump('lijigm')"><img src="./image/liji.png" /></a>
							    
							   </div>
							    
							</div>
						</li>
					</ul>
		   </div>

	   </div>
 </div>