<link rel="stylesheet" href="./css/reset.css" />
<link rel="stylesheet" href="./css/querendd.css" />
      
     <div>
			<div class="nav">
				<div class="img" ng-click="jump('lijigm')">
					<img src="./image/left.png" />
				</div>
				<div ng-click="jump('lijigm')">确认订单</div>
			</div>
           
           <div class="dizhi">
				<ul class="l1">
					<li>
						<div class="img"><img src="./image/herad.png" /></div>
						<div class="wenzi">冰淇淋</div>
					</li>
					<li>
						<div class="img" ><img src="./image/herad.png" /></div>
						<div class="wenzi">189*****9905</div>
					</li>
				</ul>

				<ul>
					<li class="img"  ng-click="jump('site')"><img src="./image/yuan1.png" /></li>
					<li class="wenzi" ng-click="jump('site')">广州天河区*************</li>
				</ul>
           </div>
		     <div class="media">
		   
				<div class="media-bottom">
						<div class="left">
							<div class="img">
						 	<img src="./image/mianmo1.png" />
							</div>
						</div>
						<div class="right">
							
							<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩 </h3>
							<ul>

						   <li class="left">
						   		<div>￥50.00 </div>
								<div><del>￥66.90</del></div>
							</li>
							<li class="right1">	
							    <div class="wenzi">1</div>				
								<div class="img"><img src="./image/x1.png"></div>
								
							</li>

							</ul>

						</div>

				   </div>
				</div>

			 <div class="shuju">
					<ul>
						<li>配送费</li>
						<li class="r">￥0.00</li>
					</ul>
					<ul>
						<li>支付方式</li>
						<li ><div class="img"><img src="./image/right1.png" /></div></li>
					</ul>
					<ul class="l1">
						<li>优惠劵</li>
						<li><div class="img"><img src="./image/right1.png" /></div></li>
					</ul>
					<ul>
						<li>无可用积分</li>
						<li><div class="img"><img src="./image/right1.png" /></div></li>
					</ul>
			 </div>

			 <div class="tijiao">
				<span class="l">总计  ￥50.00</span>
				<a  ng-click="jump('my.me')"><span class="r">提交订单</span></a>
			 </div>

          </div>
     </div>