<link rel="stylesheet" type="text/css" href="./css/reset.css" />
<link rel="stylesheet" type="text/css" href="./css/search.css" />

	<div>
		
	        <div class="nav1">
				<div class="input">
				  <div class="input1">
				    <div>
                     <a  ng-click="jump('my.liebiao');"><span><img src="./image/search.png " /></span><span>搜索产品</span></a>
                     </div>
				  </div>				
				</div>
				 <p onClick="javascript:history.back(-1);">
					取消
				 </p>
			</div>
            
            <div class="remen">
				<div class="top">
					<div class="img"><img src="./image/Hot.png" /></div>
					<div>热门产品</div>
				</div>
				<div class="bottom">
					<div>卸妆水</div>
					<div class="fenge">爽肤水</div>
					<div>面膜</div>

				</div>
				<div class="bottom">
					<div>卸妆水</div>
					<div class="fenge">爽肤水</div>
					<div>面膜</div>

				</div>

				<div class="top">
					<div class="img"><img src="./image/shijian.png" /></div>
					<div>热门产品</div>
				</div>

				<div class="wenzix">还没有搜索历史</div>
            </div>
            
	 </div>