<link rel="stylesheet" href="./css/reset.css" />
<link rel="stylesheet" href="./css/setting.css" />
      
      <div>
			<div class="nav">
				<div class="img"  onClick="javascript:history.back(-1);">
					<img src="./image/left.png" />
				</div>
				<div class="text"><a>设置</a></div>
			</div>

			<div class="shezhi">
			   <ul>
				 <li>个人信息设置</li>
				 <li class="img">
				 <a ng-click="jump('message')";><img src="./image/right1.png" >
				 </a>
				 </li>
			   </ul>
               <ul>
				 <li>收货地址</li>
				 <li class="img">
				 <a ng-click="jump('site')"><img src="./image/right1.png" >
				 </a>
				 </li>
			   </ul>

			   <ul>
				 <li>账号绑定</li>
				 <li class="img">
				 <a ng-click="jump('bound')"><img src="./image/right1.png" >
				 </a>
				 </li>
			   </ul>
				
			</div>

			  <div class="shezhi">
			   <ul>
				 <li>消除缓存</li>
				 <li class="img"><img src="./image/right1.png" ></li>
			   </ul>
               
               <ul>
				 <li>安全中心</li>
				 <li class="img"><img src="./image/right1.png" ></li>
			   </ul>
				
			</div>

			<div class="shezhi">
				<ul>
				  <li>关于我们</li>
				  <li class="img"><img src="./image/right1.png" ></li>
			   </ul>
					
			   </div>

			  <div class="tuichu">
				<div class="tuichuzh"><a  ng-click="jump('login')">退出当前账号</a></div>
			  </div>

	      </div>
      </div>
