<link rel="stylesheet" type="text/css" href="./css/reset.css">
<link rel="stylesheet" type="text/css" href="./css/shopping.css">

<div ng-swipe-left="jump('my.me');" ng-swipe-right="jump('my.fenlei');">
		<div class="nav1">
				<div class="text">
				<a>购物车</a>
				</div>
				<div class="img" ng-click="jump('mc')">
					<img src="./image/Message.png" />
				</div>
		</div>

		 <div class="service">
				<div class="xuanze">
						<div class="left">
							<div class="img1"><img src="./image/gou.png" /></div>
							<div class="img2"><img src="./image/mianmo1.png" /></div>
						</div>
						<div class="right">
							<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩</h3>
							<ul>

							   <li class="left">
							   		<div>￥50.00 </div>
									<div><del>￥66.90</del></div>
								</li>
								<li class="right1">	
								    <div class="wenzi">1</div>				
									<div class="img"><img src="./image/x1.png"></div>
									
								</li>

							</ul>
						</div>

				</div>
		</div>

        <div class="service">
				<div class="xuanze">
						<div class="left">
							<div class="img1"><img src="./image/gou.png" /></div>
							<div class="img2"><img src="./image/mianmo1.png" /></div>
						</div>
						<div class="right">
							<h3>相宜本草彩立现睡眠套装透亮补水保湿女2盒 绽放水润光彩</h3>
							<ul>

							   <li class="left">
							   		<div>￥50.00 </div>
									<div class="line"><del>￥66.90</del></div>
								</li>
								<li class="right1">	
								    <div class="wenzi">1</div>				
									<div class="img"><img src="./image/x1.png"></div>
									
								</li>

							</ul>
						</div>

				</div>
		</div>
	   
	    </div>

	    <div class="jiesuan">
			<ul>
				<li class="l">
				  <div class="img"><img src="./image/yuan.png" /></div>
				  <div>全选 （1）</div>
				</li>
				<li class="r" ng-click="jump('querendd')">
					 <div class="img"><img src="./image/jiesuan.png" /></div>
				  <div>￥159.00</div>
				</li>
			</ul>
		</div>
             
             <!-- <my-directive></my-directive> -->

</div>
