<link rel="stylesheet" type="text/css" href="./css/reset.css">
<link rel="stylesheet" type="text/css" href="./css/shop.css">

	<div>
		<div class="nav1">
			<div class="text">购物车</div>
			<div class="img">
				<img src="./image/Message.png" />
			</div>
		</div>

		<div class="gouwuche">
		    <ul>
				<li><div class="img"><img src="image/gouwuche1.png" /></div></li>
				<li>你的购物车空空如也</li>
				<li><a href="./sousuo.html" />去逛逛</a></li>
		    </ul>
		</div>

		  	 	<div ng-include="'./view/bottom.html'"></div>

	  </div>
    </div>