		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/site.css" />

       <div>
		 <div class="nav">
			 <div class="img" onClick="javascript:history.back(-1);">
					<img src="./image/left.png" />
			 </div>
				<div class="text">收货地址</div>
			</div>

			<div class="shouhuodz">
			   <div class="top">
					<div class="left">
						<div class="img">
							<img src="./image/gou.png" />
						</div>
					</div>
					<div class="right">
						<ul>
							<li>
								<div>冰淇淋</div>
								<div class="wenzi">189****9905</div>
							</li>
							<li  ng-click="jump('setting')">广州市天河区***********</li>
						</ul>
					</div>
				</div>
				<div class="bottom">
					 <ul>
						<li>
							<div class="img"><img src="./image/shanchu.png" /></div>
							<div>删除</div>
						</li>
						<li>							
							<div class="img"><img src="./image/shanchu.png" /></div>
							<div>编辑</div>
						</li>
					 </ul>
				</div>

		    </div>

		    <div class="shouhuodz">
			   <div class="top">
					<div class="left">
						<div class="img">
							<img src="./image/yuan.png" />
						</div>
					</div>
					<div class="right">
						<ul>
							<li>
								<div>冰淇淋</div>
								<div class="wenzi">189****9905</div>
							</li>
							<li>江西省吉安市***********</li>
						</ul>
					</div>
				</div>
				<div class="bottom">
					 <ul>
						<li>
							<div class="img"><img src="./image/shanchu.png" /></div>
							<div>删除</div>
						</li>
						<li>							
							<div class="img"><img src="./image/shanchu.png" /></div>
							<div>编辑</div>
						</li>
					 </ul>
				</div>
		
		 
			</div>
			<div class="border"></div>
		 </div>
       </div>